<%= form_with model: user, class: "p-4 bg-white text-xl" do |user_form| %>
  <% if user.errors.any? %>
    <div class="bg-red-300">
      <h1><%= user.errors.full_messages.to_sentence.capitalize %></h1>
    </div>
  <% end %>

  <div class="mb-5 flex flex-row">
    <%= user_form.label :name, class: "basis-1/4" %>
    <%= user_form.text_field :name, class: "border-2 rounded-lg basis-3/4" %>
  </div>

  <%= user_form.fields_for :detail, user.detail do |detail_form| %>
    <div class="mb-5 flex flex-row">
      <%= detail_form.label :title, class: "basis-1/4" %>
      <%= detail_form.text_field :title, class: "border-2 rounded-lg basis-3/4" %>
    </div>

    <div class="mb-5 flex flex-row">
      <%= detail_form.label :age, class: "basis-1/4" %>
      <%= detail_form.text_field :age, class: "border-2 rounded-lg basis-3/4" %>
    </div>

    <div class="mb-5 flex flex-row">
      <%= detail_form.label :email, class: "basis-1/4" %>
      <%= detail_form.text_field :email, class: "border-2 rounded-lg basis-3/4" %>
    </div>

    <div class="mb-5 flex flex-row">
      <%= detail_form.label :phone, class: "basis-1/4" %>
      <%= detail_form.text_field :phone, class: "border-2 rounded-lg basis-3/4" %>
    </div>
  <% end %>

  <%= user_form.submit class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
<% end %>